<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>교수님 몰래 춤추기</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'game/css/styles.css' %}" />
        <style>
            audio {
                display: none;
            }
            .student img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div class="game-container">
            <img
                src="{% static 'game/images/lecture.jpg' %}"
                alt="Lecture Background"
                class="background"
                width="100%"
                height="100%"
            />
            <div
                class="professor"
                id="professor"
                data-back-url="{% static 'game/images/professor_back.png' %}"
                data-side-url="{% static 'game/images/prof_side.png' %}"
            >
                <div class="warning-popup" id="warningPopup"></div>
            </div>
            <div id="currentUsername">{{current_username}}</div>
            <div class="students">
                <div
                    class="student"
                    id="student1"
                    data-static-url="{% static 'game/images/static_people.png' %}"
                    data-cat-url="{% static 'game/images/cat_people.gif' %}"
                    data-maratang-url="{% static 'game/images/maratang_people.gif' %}"
                    data-korea-url="{% static 'game/images/korea_people.gif' %}"
                >
                    <img src="{% static 'game/images/static_people.png' %}" />
                </div>
                <div
                    class="student"
                    id="student2"
                    data-static-url="{% static 'game/images/static_people.png' %}"
                    data-cat-url="{% static 'game/images/cat_people.gif' %}"
                    data-maratang-url="{% static 'game/images/maratang_people.gif' %}"
                    data-korea-url="{% static 'game/images/korea_people.gif' %}"
                >
                    <img src="{% static 'game/images/static_people.png' %}" />
                </div>
                <div
                    class="student"
                    id="student4"
                    data-static-url="{% static 'game/images/static.png' %}"
                    data-cat-url="{% static 'game/images/cat.gif' %}"
                    data-maratang-url="{% static 'game/images/maratang.gif' %}"
                    data-korea-url="{% static 'game/images/korea.gif' %}"
                >
                    <img src="{% static 'game/images/static.png' %}" id="student4Img" />
                </div>
            </div>
        </div>
        <audio id="catMusic">
            <source src="{% static 'game/audio/Cat.mp3' %}" type="audio/mpeg" />
        </audio>
        <audio id="maratangMusic">
            <source src="{% static 'game/audio/maratang_song.mp3' %}" type="audio/mpeg" />
        </audio>
        <audio id="koreaMusic">
            <source src="{% static 'game/audio/민족의 아리아.mp3' %}" type="audio/mpeg" />
        </audio>
        <audio id="alert1">
            <source src="{% static 'game/audio/alert1.mp3' %}" type="audio/mpeg" />
        </audio>
        <audio id="alert2">
            <source src="{% static 'game/audio/alert2.mp3' %}" type="audio/mpeg" />
        </audio>
        <script src="{% static 'game/js/script.js' %}"></script>
    </body>
</html>
