<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static "game/css/main.css" %}">
    </head>
    <body>
        <div class="container">
            <h1>교수님 <span class="rotate">몰래</span> 춤추기 게임</h1>
            <div class="speech-bubble">
                <p class="blinking-text">Play Now!</p>
            </div>
            <button id="playButton" type="button">Play</button>
        </div>
        <script>
            const button = document.querySelector('#playButton');
            const moveToStart = () => {
                window.location.href = "{% url 'name' %}";
            };
            button.addEventListener('click', moveToStart);
        </script>
    </body>
</html>
