<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <button id="playButton" class="playButton" type="button">Play</button>
        <script>
            const button = document.querySelector('#playButton');
            const moveToStart = () => {
                window.location.href = "{% url 'name' %}";
            };
            button.addEventListener('click', moveToStart);
        </script>
    </body>
</html>
