<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ranking</title>
        <style>
            .highlight {
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <h1>Ranking</h1>
        <ul>
            {% for user in users %}
            <li class="{% if user == current_user %}highlight{% endif %}">
                {{ forloop.counter }}. {{ user.username }} - Score: {{ user.score }}
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'start' %}">Retry</a>
    </body>
</html>
