<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="{{ form.username.id_for_label }}">Nickname: </label>
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" />
                {{ form.username }}
            </p>
            <button type="submit">PLAY</button>
        </form>
    </body>
</html>
